# Define the agent and its source, channels and Sink
SpoolDirectoryAgent.sources=mysource
SpoolDirectoryAgent.channels=mychannel
SpoolDirectoryAgent.sinks=mysink

# Source Configuration
SpoolDirectoryAgent.sources.mysource.type=spooldir
SpoolDirectoryAgent.sources.mysource.spoolDir=/home/naveenpn/incoming

# Channel COnfiguration
SpoolDirectoryAgent.channels.mysource.type=memory

# Sink COnfiguration
SpoolDirectoryAgent.sinks.mysink.type=hdfs
SpoolDirectoryAgent.sinks.mysink.hdfs.path=/user/naveenpn/netcat
NetCatAgent.sinks.HdfsSink.hdfs.fileType = DataStream
SpoolDirectoryAgent.sinks.mysink.hdfs.writeFormat=Text
SpoolDirectoryAgent.sinks.mysink.hdfs.fileSuffix=.log


# Bind the source and sink to the channel
SpoolDirectoryAgent.sources.mysource.channels=mychannel
SpoolDirectoryAgent.sinks.mysink.channel=mychannel